@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.root {
  padding: 100px 40px;
  background-color: #f5f6fa;
}

.App {
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
  padding-bottom: 8%;
}

nav {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.logo {
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.nav-left {
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  display: flex;
}

.active {
  opacity: 1;
  color: #121212 !important;
}

.nav-right {
  color: #0290ff;
}

.menu {
  gap: 60px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.menu li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.menu a:hover {
  background-color: rgb(200, 199, 199);
  padding: 10px 12px;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.5s ease-in-out background-color;
}
